<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taskapplication">
    <!-- Adding Read External Storage Permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CreateTaskActivity"
            android:label="@string/title_create_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProjectActivity"
                  android:label="Project"
                  android:theme="@style/AppTheme.NoActionBar">
            <meta-data android:name="android.app.default_searchable"
                       android:value=".SearchableActivity" />
        </activity>
        <activity android:name=".UserSearchActivity" />
        <activity android:name=".ProjectMembersActivity" />
        <activity android:name=".SearchableActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".CreateProjectActivity"
            android:label="@string/title_create_project"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProjectsActivity"
            android:label="@string/title_activity_projects"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UserActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".ProfileImageActivity" />
        <activity android:name=".ImageQualityActivity" />
        <activity
            android:name=".UploadFileActivity"
            android:label="Upload file"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />

        <provider
            android:name=".PicassoContentProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"/>
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>